:root{
    --color-1: red;
    --color-2: green;
    --color-3: blue;
    --color-4: orange;
    --color-body: #fff;
    --color-btn-bg: #f4f4f4;
    -animation-speed: 1s;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.4;
    color: var(--color-body);
    margin: 0;
    padding: 0;
   overflow: hidden;
}
h1{
text-align: center;
}
    /* page*/
#page-1{
    background: var(--color-1);
}
#page-2{
    background: var(--color-2);
}
#page-3{
    background: var(--color-3);
}
#page-4{
    background: var(--color-4);
}
.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
}
.page h1{
    font-size: 4rem;
    line-height: 1.2rem;
    margin: 1rem;
}
.page p{
    font-size: 1.3rem;
}
    /* btn*/
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--color-btn-bg) ;
    color: #333;
    text-decoration: none;
    border: none;
    margin-top: 1rem;
    font-size: 1.2rem;
    transition: all 0.5s ease-in;
}
.btn:hover,
.btn{
    background: #333;
    color:#fff;
 }

 .btn-dark:hover{
    background: #f4f4f4;
    color:#333;
}
    /*page animation*/
/*#page-1 h1{
    transform: translateY(-1200px);
    animation: heading var(--animation-speed) forwards ease-in;
}
@keyframes heading{
    to{
        transform: translateY(0);
    }
}
#page-1 p{
    transform: translateY(-1800px);
    animation: text var(--animation-speed) forwards ease-in 2s;
}
@keyframes text{
    to{
        transform: translateX(0);
    }
}*/

.img{
    width: 25%;
    display: block;

}
.img-container{
    display: flex;
    justify-content: center;
    gap: 30px;

}
